* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}
html body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 70px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .wrapper {
    padding: 0 40px;
  }
}

.highlited-text {
  color: #ff5300;
}

.pdbenefits {
  padding: 165px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pdbenefits {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .pdbenefits {
    padding: 80px 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 130px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 100px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header {
    height: 70px;
  }
}
.header .header__logo h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
}
.header .header__logo h2::first-letter {
  color: #ff5300;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .header__logo h2 {
    font-size: 42px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header .header__logo h2 {
    font-size: 36px;
  }
}
.header .header__main-nav_list {
  display: flex;
  align-items: center;
  gap: 63px;
  list-style: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .header__main-nav_list {
    display: none;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header .header__main-nav_list {
    display: none;
  }
}
.header .header__main-nav_list .header__main-nav_link {
  list-style: none;
  text-decoration: none;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #1d1b19;
  opacity: 0.5;
}
.header .header__main-nav_list .header__main-nav_link:hover {
  opacity: 0.7;
}
.header .header__main-nav_list .nav-active {
  color: #1d1b19;
  opacity: 1;
}
.header .header__main-nav_list .nav-active::after {
  content: "";
  display: block;
  left: 0;
  padding-top: 3px;
  border-bottom: 2px solid #ff5300;
}
.header .btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .btn-mobile-nav {
    display: flex;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .header .btn-mobile-nav {
    display: flex;
  }
}
.header .icon-mobile-nav {
  height: 40px;
  width: 40px;
  color: #333;
}
.header .icon-mobile-nav[name=close-outline] {
  display: none;
}

.section__hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 555.1px;
}
.section__hero .section__hero-left {
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 781px;
}
.section__hero .section__hero-left h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section__hero .section__hero-left h1 {
    font-size: 52px;
    line-height: 62px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .section__hero .section__hero-left h1 {
    font-size: 36px;
    line-height: 48px;
  }
}
.section__hero .section__hero-left .section__hero-left_play-video {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 15px;
  font-weight: 900;
  font-size: 18px;
}
.section__hero .section__hero-right {
  position: absolute;
  right: 0;
  top: 0;
}
.section__hero .section__hero-right .section__hero-right-img {
  width: 832.23px;
  height: 555.1px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section__hero .section__hero-right .section__hero-right-img {
    width: 100%;
    height: 100%;
  }
}
.section__hero .section__hero-right::after {
  content: "";
  background: #ff5300;
  bottom: 0;
  right: 0;
  height: 9px;
  width: 50%;
  display: block;
  position: absolute;
  margin-bottom: 2px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section__hero .section__hero-right::after {
    left: 0;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .section__hero .section__hero-right::after {
    left: 0;
  }
}

.section__benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section__benefits {
    flex-wrap: wrap;
    gap: 100px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .section__benefits {
    flex-wrap: wrap;
    gap: 100px;
  }
}
.section__benefits .section__beneftis-item {
  display: flex;
  align-items: center;
  gap: 38px;
}
.section__benefits .section__beneftis-item img {
  width: 42.12px;
  height: 42.12px;
}
.section__benefits .section__beneftis-item .section__beneftis-item-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section__benefits .section__beneftis-item .section__beneftis-item-text p {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 70px;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .wrapper {
    padding: 0 40px;
  }
}

.highlited-text {
  color: #ff5300;
}

.pdbenefits {
  padding: 165px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pdbenefits {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .pdbenefits {
    padding: 80px 0;
  }
}