@import "./mixin";
@import "./variables";

// - FONT SIZE SYSTEM (px)
//       10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// -SPACING SYSTEM (px)
//       2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// --------------- HEADER ---------------

.header {
  @include flexCenter(space-between, row);
  height: 130px;
  @include breakpoint("tablet") {
    height: 100px;
  }
  @include breakpoint("phone") {
    height: 70px;
  }
  .header__logo {
    h2 {
      font-size: 48px;
      font-weight: 900;
      line-height: 56px;
    }
    h2::first-letter {
      color: $primaryColor;
    }
    @include breakpoint("tablet") {
      h2 {
        font-size: 42px;
      }
    }
    @include breakpoint("phone") {
      h2 {
        font-size: 36px;
      }
    }
  }
  .header__main-nav_list {
    display: flex;
    align-items: center;
    gap: 63px;
    list-style: none;

    @include breakpoint("tablet") {
      // flex-direction: column;
      // gap: 30px;
      display: none;
    }
    @include breakpoint("phone") {
      display: none;
    }
    .header__main-nav_link {
      list-style: none;
      text-decoration: none;
      font-weight: 900;
      font-size: 20px;
      line-height: 23px;
      color: $blackText;
      opacity: 0.5;
    }
    .header__main-nav_link:hover {
      opacity: 0.7;
    }
    .nav-active {
      color: $blackText;
      opacity: 1;
    }
    .nav-active::after {
      content: "";
      display: block;
      left: 0;
      padding-top: 3px;
      border-bottom: 2px solid $primaryColor;
    }
    // ----------MOBILE NAV-----------
  }
  .btn-mobile-nav {
    // display: none;
    border: none;
    background: none;
    cursor: pointer;
    display: none;

    @include breakpoint("tablet") {
      display: flex;
    }
    @include breakpoint("phone") {
      display: flex;
    }
  }
  .icon-mobile-nav {
    height: 40px;
    width: 40px;
    color: #333;
  }
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }
  // .header__main-nav {
  //   @include breakpoint("tablet") {
  //     background-color: rgba(255, 255, 255, 0.9);
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100vh;
  //     z-index: 999;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }
  // }
}

// --------------- HERO SECTION ---------------

.section__hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 555.1px;

  .section__hero-left {
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 781px;

    h1 {
      font-weight: 900;
      font-size: 60px;
      line-height: 70px;
    }
    @include breakpoint("tablet") {
      h1 {
        font-size: 52px;
        line-height: 62px;
      }
    }
    @include breakpoint("phone") {
      h1 {
        font-size: 36px;
        line-height: 48px;
      }
    }
    .section__hero-left_play-video {
      @include flexCenter(flex-start, row);
      gap: 15px;
      font-weight: 900;
      font-size: 18px;
      img {
        cursor: pointer;
      }
      p {
        cursor: pointer;
      }
    }
  }
  .section__hero-right {
    position: absolute;
    right: 0;
    top: 0;
    @include breakpoint("tablet") {
    }
    .section__hero-right-img {
      width: 832.23px;
      height: 555.1px;
      @include breakpoint("tablet") {
        width: 100%;
        height: 100%;
      }
    }

    @include breakpoint("phone") {
      img {
        // height: 200%;
        // width: 200%;
      }
    }
  }
  .section__hero-right::after {
    content: "";
    background: $primaryColor;
    bottom: 0;
    right: 0;
    height: 9px;
    width: 50%;
    display: block;
    position: absolute;
    margin-bottom: 2px;
    @include breakpoint("tablet") {
      left: 0;
    }
    @include breakpoint("phone") {
      left: 0;
    }
  }
}

// --------------- BENEFITS SECTION ---------------

.section__benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  @include breakpoint("tablet") {
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
  }
  @include breakpoint("phone") {
    flex-wrap: wrap;
    gap: 100px;
  }

  .section__beneftis-item {
    display: flex;
    align-items: center;
    gap: 38px;
    img {
      width: 42.12px;
      height: 42.12px;
    }
    .section__beneftis-item-text {
      display: flex;
      flex-direction: column;
      gap: 5px;
      p {
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
      }
    }
  }
}

// --------------- PLACES SECTION ---------------
.section__places {
  display: flex;
  gap: 75px;
  @include breakpoint("tablet") {
    flex-direction: column;
  }
  @include breakpoint("phone") {
    flex-direction: column;
  }
  .section__places-left {
    display: flex;
    flex-direction: column;
    gap: 30px;

    p {
      font-weight: 900;
      font-size: 20px;
      line-height: 23px;
      color: #000000;
      opacity: 0.5;
    }
  }
  .section__places-right {
    .section__places-right-cards {
      display: flex;
      gap: 20px;

      // @include breakpoint("phone") {
      //   flex-direction: column;
      //   align-items: center;
      // }
      .section__places-right_card {
        width: 250.18px;
        height: 336.94px;
        border-radius: 10px;
        // overflow: hidden;
        position: relative;
        .section__place-right_card-img {
          object-fit: cover;
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
        .section__place-right_card-text {
          position: absolute;
          bottom: 0;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-bottom: 20px;
          padding-left: 20px;
          h2 {
            font-weight: 900;
            font-size: 18px;
            line-height: 21px;
            color: #fff;
          }
          img {
            margin-left: -2px;
          }
        }
      }
    }
  }
}

// --------------- TOP RATED SECTION ---------------

.section__toprated {
  .h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
  }
  .section__toprated-cards {
    display: flex;
    justify-content: center;
    gap: 17px;
    @include breakpoint("tablet") {
      flex-wrap: wrap;
    }
    @include breakpoint("phone") {
      flex-wrap: wrap;
    }
    .section__toprated-card {
      width: 252.7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.4s;
      h3 {
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        margin: 16px 0;
      }
      .section__toprated-card_img {
        border-radius: 10px;
      }
      p {
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        color: #ffd4bf;
        margin-bottom: 6px;
      }
      .section__toprated-card_stars {
        width: 83.28px;
        height: 12px;
        margin-left: -2px;
      }
    }
  }
  .section__toprated-card:hover {
    transform: translatey(-1.2rem);
  }
}

// --------------- NEAR YOU SECTION ---------------

.section__nearyou {
  .h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
  }
  .section__nearyou-items {
    display: flex;
    gap: 100px;
    margin-bottom: 90px;
    @include breakpoint("tablet") {
      flex-wrap: wrap;
      justify-content: center;
    }
    .section__nearyou-item {
      display: flex;
      align-items: center;
      gap: 33px;
      .section__nearyou-item_imgbox {
        width: 117.93px;
        height: 76.63px;
        border-radius: 10px;
        overflow: hidden;
        img {
          object-fit: cover;
          object-position: center;
        }
      }
      .section__nearyou-item_textbox {
        h3 {
          font-weight: 900;
          font-size: 20px;
        }
      }
    }
  }
}
